@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply smooth transition to background change */
body {
  transition: background 0.3s ease;
}

/* Keep a neutral off-white background */
body, .min-h-screen {
  background-color: #f9fafb; /* Off-white background */
}

/* Smooth fade-in effect for text */
pre {
  animation: fadeIn 0.5s ease-out;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.typing-effect {
  display: inline-block;
  width: 10px;
  height: 20px; /* Adjust the height to match your text */
  background-color: black; /* You can change the cursor color here */
  animation: blink 1s step-end infinite; /* 1 second blink interval */
  vertical-align: middle;
}

* {
  font-family: Georgia, serif;
}